
NODE_ENV="" 				# Provide a value for NODE_ENV

BETTER_AUTH_SECRET="" 				# Provide a value for BETTER_AUTH_SECRET

BETTER_AUTH_URL="" 				# Provide a value for BETTER_AUTH_URL

POSTGRES_USER="" 				# Provide a value for POSTGRES_USER
POSTGRES_PASSWORD="" 				# Provide a value for POSTGRES_PASSWORD
POSTGRES_DB="" 				# Provide a value for POSTGRES_DB
POSTGRES_PORT="" 				# Provide a value for POSTGRES_PORT